/*{
    background-color: black;
}*/

body{
    color: white;
}


.navbar{
    background-color: white;
}

.nav-link{
    color: white;
}

.content{
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    position: block;
    text-align: center;
    line-height: 30px;
    width: 500px;
}

.text{
    color: white;
}