

.content{
    padding: 10px 50px;
}

.menutitle{
    padding: 20px;
    font-size: 24px;
}

.musicbox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: float;
    text-align: center;
}

ul{
    overflow: hidden;
    list-style-type: none;
}

li{ float: left; margin: 10px; text-align: center;}

.album-cover{
    width: 200px;
    height: 200px;

}

.album-info{
    padding: 10px;
}

.album-artist{
    font-size: 12px;
}

.image1{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.image2{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.image3{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.image4{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}