
/*
.content{
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    position: block;
    text-align: center;
    line-height: 30px;
    width: 500px;
}
*/

.header{
    height: 300px;
    padding: 30px;
}


.psylogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    position: float;
    text-align: center;
}


.titletext{
    display: block;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: block;
    text-align: center;
    line-height: 50px;
}

.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: block;
    text-align: center;
}
