
a{
    text-decoration: none;
    color: black;
}

.content{
    padding: 10px 30px;
}


.menutitle{
    padding: 10px;
    font-size: 24px;
}


.write{
    padding: 10px;
    text-decoration: none;
    float: right;
}

.rollingpaperbody{
    padding: 10px;
    font-size: 16px;
}
