{% extends 'base.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '../static/css/detail.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby</title>
</head>


    <div class="content">

        <div class="menutitle">
            시윤이한테 할 말 있는 사람
            <hr style="width: 800px; height: 3px;">
        </div>

        <div class="rollingpaperbody">
            <h3>{{rollingpaper_contents.title}}</h3>
            {{rollingpaper_contents.writer}}<br>
            {{rollingpaper_contents.date}}<br>
            {{rollingpaper_contents.body}}<br>
            <br><a href="{%url 'rollingpaper' %}">prev</a>
        </div>

        <a href="{% url 'edit'% rollingpaper_contents.id}">수정하기</a><br>
        
        <a href="{% url 'delete' rollingpaper_contents.id%}">삭제하기</a>





    </div>


{% endblock %}


</html>