{% extends 'base.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '../static/css/music.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>

    <style>

        
      @font-face {
          font-family: 'Pretendard-Regular';
          src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
          font-weight: 400;
          font-style: normal;
      }

      body{
        font-family: 'Pretendard-Regular';
      }
    </style>
</head>


  <div class="content">

    <div class="menutitle">
      Tropical House
      <hr style="height: 3px;">
    </div>
    
    <div class="musicbox">
        <ul>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/place1.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">인도이웃</p>
                        <p class="album-artist">서울 성북구 보문로34가길 2</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/place2.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">도쿄커틀릿</p>
                        <p class="album-artist">서울 성북구 동소문로22길 57-1</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/place3.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">혼가츠</p>
                        <p class="album-artist">서울 마포구 와우산로21길 36-6</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/place4.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">하루돈까스</p>
                        <p class="album-artist">서울 서대문구 연세로7안길 16-3</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/place4.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">하루돈까스</p>
                        <p class="album-artist">서울 서대문구 연세로7안길 16-3</p>
                    </div>
                </div>
            </li>
        </ul>

        
        <div class="menutitle" style="text-align: left;">
            캘리그라피
            <hr style="height: 3px;">
        </div>
          
      <div class="musicbox">
          <ul>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/place1.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">인도이웃</p>
                          <p class="album-artist">서울 성북구 보문로34가길 2</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/place2.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">도쿄커틀릿</p>
                          <p class="album-artist">서울 성북구 동소문로22길 57-1</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/place3.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">혼가츠</p>
                          <p class="album-artist">서울 마포구 와우산로21길 36-6</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/place4.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">하루돈까스</p>
                          <p class="album-artist">서울 서대문구 연세로7안길 16-3</p>
                      </div>
                  </div>
              </li>
              <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/place4.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">하루돈까스</p>
                        <p class="album-artist">서울 서대문구 연세로7안길 16-3</p>
                    </div>
                </div>
            </li>
          </ul>



    

  </div>





{% endblock %}


</html>