{% extends 'base.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '../static/css/music.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>

    <style>

        
      @font-face {
          font-family: 'Pretendard-Regular';
          src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
          font-weight: 400;
          font-style: normal;
      }

      body{
        font-family: 'Pretendard-Regular';
      }
    </style>
</head>


  <div class="content">

    <div class="menutitle">
      Tropical House
      <hr style="height: 3px;">
    </div>
    
    <div class="musicbox">
        <ul>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/music1.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">You for Me</p>
                        <p class="album-artist">Sigala & Rita Ora</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/music2.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">Ain't Giving Up</p>
                        <p class="album-artist">Craig David & Sigala</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/music3.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">I want Love</p>
                        <p class="album-artist">Gryffin & Two Feet</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/music4.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">Don't Want You Back</p>
                        <p class="album-artist">Bakermat</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/music5.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">Save Me</p>
                        <p class="album-artist">DEAMN</p>
                    </div>
                </div>
            </li>
        </ul>

        
        <div class="menutitle" style="text-align: left;">
            Old Pop
            <hr style="height: 3px;">
        </div>
          
      <div class="musicbox">
          <ul>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/music6.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">Love Grows</p>
                          <p class="album-artist">Edison Lighthouse</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/music7.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">Maniac</p>
                          <p class="album-artist">Michael Sembello</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/music8.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">Girls Just Want to Have Fun</p>
                          <p class="album-artist">Cyndi Lauper</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="album-item">
                      <div class="album-cover">
                          <img src="{% static '../static/images/music9.jpg'%}" width="200">
                      </div>
                      <div class="album-info">
                          <p class="album-title">Bye Bye Mi Amor</p>
                          <p class="album-artist">David Lyme</p>
                      </div>
                  </div>
              </li>
              <li>
                <div class="album-item">
                    <div class="album-cover">
                        <img src="{% static '../static/images/music10.jpg'%}" width="200">
                    </div>
                    <div class="album-info">
                        <p class="album-title">Bad Case Of Loving You</p>
                        <p class="album-artist">Robert Palmer</p>
                    </div>
                </div>
            </li>
          </ul>



    

  </div>





{% endblock %}


</html>