{% extends 'base.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '../static/css/music.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
</head>


  <div class="content">

    <div class="menutitle">
      캘리그라피
      <hr style="width: 100%; height: 3px;">
    </div>


    <div class="musicbox">

      <ul>
          <li>
              <div class="album-item">
                  <div class="album-cover image1"></div>
                  <div class="album-info">
                      <p class="album-title">SNACK(feat. raychel jay)</p>
                      <p class="album-artist">Shawn Wasabi</p>
                  </div>
              </div>
          </li>
          <li>
              <div class="album-item">
                  <div class="album-cover image2"></div>
                  <div class="album-info">
                      <p class="album-title">OCD</p>
                      <p class="album-artist">Fitz & The Tantrums</p>
                  </div>
              </div>
          </li>
          <li>
              <div class="album-item">
                  <div class="album-cover image3"></div>
                  <div class="album-info">
                      <p class="album-title">I Miss Ya</p>
                      <p class="album-artist">Hallman</p>
                  </div>
              </div>
          </li>
          <li>
              <div class="album-item">
                  <div class="album-cover image4"></div>
                  <div class="album-info">
                      <p class="album-title">Good Girls</p>
                      <p class="album-artist">LANY</p>
                  </div>
              </div>
          </li>


      </ul>
          


    </div>

    

  </div>





{% endblock %}


</html>