{% extends 'base.html' %}
{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static '../static/css/place.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>




    <div class="content" >

        <div class="menutitle">
            <h3>제발 한 번만 가봐</h3>
            <hr style="width: 100%; height: 3px;">
        </div>

        <div class="menutitle">
            <h3>방방곡곡</h3>
            <hr style="width: 100%; height: 3px;">
        </div>

        <div class="menutitle">
            <h3>맞아요... 저 스윙스예요</h3>
            <hr style="width: 100%; height: 3px;">

            <div class="placecon" style="display: block; margin-left: auto; margin-right: auto;">

                <div class="image" style="display: flex;">
                <img src="{% static 'images/place1.jpg'%}" width="250">
                </div>
                <div class="info">
                <b>인도이웃</b><br>
                서울 성북구 보문로34가길 2<br>
                ★★★★☆
                </div>
            </div>

            <div class="placecon" style="display: block; margin-left: auto; margin-right: auto;">
    
                <div class="image" style="display: flex;">
                    <img src="{% static 'images/place2.jpg'%}" width="250">
                </div>
                <div class="info">
                    <b>도쿄커틀릿</b><br>
                    서울 성북구 동소문로22길 57-1<br>
                    ★★★★☆
                </div>
            </div>
            
                <div class="image" style="display: flex;">
                    <img src="{% static 'images/place3.jpg'%}" width="250">
                </div>
                <div class="info">
                    <b>혼가츠</b><br>
                    서울 마포구 와우산로21길 36-6<br>
                    ★★★★☆
                </div>

                <div class="image" style="display: flex;">
                    <img src="{% static 'images/place4.jpg'%}" width="250">
                </div>
                <div class="info">
                    <b>하루돈까스</b><br>
                    서울 서대문구 연세로7안길 16-3<br>
                    ★★★★☆
                </div>





        </div>




    </div>

{% endblock %}

</html>